[defaults]
callback_result_format = yaml
big_ansible_callbacks = true
host_key_checking = false
interpreter_python = /usr/bin/python3
inventory = inventory/hosts.ini
#remote_user = root
#ssh_args = -o forwardagent=yes -o controlmaster=auto -o controlpersist=yes -o userknownhostsfile=/dev/null -o stricthostkeychecking=no
